.header-app {
  position: relative;
  width: 100%;
  z-index: 9;
  .content-header {
    padding-top: gr(30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      margin: 0;
      display: flex;
      list-style: none;
      li {
        a {
          margin: 10px;
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
}