.header-app {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  ul {
    margin: 0;
    display: flex;
    list-style: none;
    li {
      a {
        margin: 10px;
        color: #fff;
        font-weight: 700;
      }
    }
  }
}