.content-icons {
  display: flex;
  .box-icon {
    margin-right: 20px;
  }
  .bg-icons {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
}