.content-icons {
  display: flex;
  .box-icon {
    margin-right: gr(20);
  }
  .bg-icons {
    width: gr(30);
    height: gr(30);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
}