.page-contact {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  > .container {
    height: 100%;
  }
  .content-page {
    display: flex;
    height: 100%;
    .west-side {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        font-size: gr(35);
        strong {
          font-weight: 900;
        }
      }
      .content-text {
        color: #fff;
        margin: gr(20) 0;
        p {
          max-width: gr(300);
          line-height: 1.5;
          font-weight: 300;
          &::before {
            content: '';
            border: 1px solid #fff;
            display: block;
            width: gr(50);
            margin-bottom: gr(40);
          }
          &::after {
            content: '';
            border: 1px solid #fff;
            display: block;
            width: gr(50);
            margin-top: gr(40);
          }
        }
      }
      .content-info {
        color: #fff;
        margin: gr(40) 0;
        p {
          font-size: gr(14);
          font-weight: 400;
          margin-bottom: gr(15);
          strong {
            font-weight: 600;
          }
        }
      }
    }
    .east-side {
      width: 50%;
      display: flex;
      align-items: center;
      z-index: 2;
    }
  }
  .box-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    .bg-west-side {
      height: 100%;
      width: 50%;
    }
    .bg-east-side {
      height: 100%;
      width: 50%;
      background: #36383b;
    }
  }
}