.page-home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .content-page-home {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: gr(40);
    strong {
      font-weight: 800;
    }
  }
  .count-timer {
    display: flex;
    justify-content: space-between;
    margin-top: gr(150);
    display: flex;
    .time-wrapper {
      text-align: center;
      font-size: gr(14);
      text-transform: uppercase;
      font-weight: 700;
      .time {
        font-size: gr(28);
        font-weight: 200;
        margin-bottom: gr(10);
      }
    }
  }
}
