.page-home {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  > .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .content-page-home {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: gr(50);
    position: relative;
    height: 370px;
    max-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    @media (max-width: 800px) {
      font-size: gr(35);
      height: 280px;
    }
    @media (max-width: 500px) {
      font-size: gr(30);
      height: 250px;
    }
    @media (max-width: 425px) {
      height: 200px;
    }
    img {
      position: absolute;
      top: 0;
      right: gr(-60);
      @media (max-width: 800px) {
        height: 280px;
      }
      @media (max-width: 500px) {
        height: 250px;
      }
      @media (max-width: 425px) {
        height: 200px;
      }
    }
    strong {
      font-weight: 800;
    }
  }
  .count-timer {
    display: flex;
    justify-content: space-between;
    margin-top: gr(150);
    display: flex;
    .time-wrapper {
      text-align: center;
      font-size: gr(14);
      text-transform: uppercase;
      font-weight: 700;
      .time {
        font-size: gr(28);
        font-weight: 200;
        margin-bottom: gr(10);
      }
    }
  }
}
